apiVersion: apps/v1
kind: Deployment
metadata:
  name: appd-cluster-agent
  namespace: appdynamics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-agent
  template:
    metadata:
      labels:
        app: cluster-agent
    spec:
      containers:
      - name: cluster-agent
        image: appdynamics/cluster-agent:latest
        resources: 
          requests: 
            cpu: "250m" 
            memory: "512Mi" 
          limits: 
            cpu: "500m" 
            memory: "1Gi"
        env:
        - name: CONTROLLER_URL
          value: "lombard202601220244269.saas.appdynamics.com:443"
        - name: ACCOUNT_NAME
          value: "lombard202601220244269"
        - name: ACCESS_KEY
          value: "d5apz8dbyuxs"