apiVersion: apps/v1
kind: Deployment
metadata:
  name: appd-cluster-agent
  namespace: appdynamics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-agent
  template:
    metadata:
      labels:
        app: cluster-agent
    spec:
      serviceAccountName: appd-cluster-agent
      containers:
      - name: cluster-agent
        image: appdynamics/cluster-agent:latest
        resources:
          requests:
            cpu: "350m"
            memory: "612Mi"
          limits:
            cpu: "700m"
            memory: "2Gi"
        env:
        - name: APPDYNAMICS_AGENT_CLUSTER_NAME
          value: "microk8s-cluster"
        - name: APPDYNAMICS_AGENT_APPLICATION_NAME
          value: "TasklistApp"
        - name: APPDYNAMICS_CONTROLLER_HOST_NAME
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: controller-host
        - name: APPDYNAMICS_CONTROLLER_PORT
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: controller-port
        - name: APPDYNAMICS_CONTROLLER_SSL_ENABLED
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: controller-ssl-enabled
        - name: APPDYNAMICS_AGENT_ACCOUNT_NAME
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: account-name
        - name: APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: account-access-key
