apiVersion: apps/v1
kind: Deployment
metadata:
  name: appd-db-agent
  namespace: appdynamics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db-agent
  template:
    metadata:
      labels:
        app: db-agent
    spec:
      containers:
      - name: db-agent
        image: appdynamics/db-agent:latest
        resources:
          requests:
            cpu: "250m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1Gi"
        env:
        - name: DB_HOST
          value: "postgres.default.svc.cluster.local"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "tasklistdb"
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD

        - name: APPDYNAMICS_AGENT_NAME
          value: "PostgresAgent"
        - name: APPDYNAMICS_AGENT_APPLICATION_NAME
          value: "TasklistApp"

        - name: APPDYNAMICS_CONTROLLER_HOST_NAME
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: controller-host
        - name: APPDYNAMICS_CONTROLLER_PORT
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: controller-port
        - name: APPDYNAMICS_CONTROLLER_SSL_ENABLED
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: controller-ssl-enabled
        - name: APPDYNAMICS_AGENT_ACCOUNT_NAME
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: account-name
        - name: APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: appdynamics-secret
              key: account-access-key
